@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Archivo, sans-serif;
}

body {
  margin: 0;
  background-color: #111111;
}
li::marker {
  content: "";
}
