.footer-final {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  color: #bfbfbf;
}
.footer-final a {
  text-decoration: none;
  color: #6554af;
}
@media (max-width: 768px) {
  .footer-final {
    font-size: 0.75em;
    padding-bottom: 4em;
  }
}
